/* .footer {
  background-color: #82e600;
}

.aside {
  background-color: #4e6b7c;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
}

.drawer {
  background-color: #4e6b7c;
} */
